<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591905397678-89bba4dojlfcv7dlub9d4ml0sdm1rviv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591905397678-89bba4dojlfcv7dlub9d4ml0sdm1rviv</string>
	<key>API_KEY</key>
	<string>AIzaSyAkk1wDiRDHiWH6clMHBj0tNYQOuvp29M8</string>
	<key>GCM_SENDER_ID</key>
	<string>591905397678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoList</string>
	<key>PROJECT_ID</key>
	<string>done-a9dfe</string>
	<key>STORAGE_BUCKET</key>
	<string>done-a9dfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591905397678:ios:fd5ba52e197388fd1f463f</string>
</dict>
</plist>